.custom-tooltip {
	--bs-tooltip-bg: var(--bs-dark);
}

#locker-button {
	width:40px;
	height:40px;
}

/* Default css */
.invoice-id-area {
	width:100%;
	line-height:1.5;
}
.invoice-id-area p, .invoice-id-area h2, .invoice-id-area h3 {
	margin:0;
	padding:4pt;
}
.invoice-id-area p {
	font-size:10pt;
}
.invoice-id-area h3 {
	font-size:11pt;
}
.invoice-id-area h2 {
	font-size:12pt;
	border-top: solid 1pt black;
	border-bottom: solid 1pt black;
	background-color:#bbb !important;
}
#invoice .text-small > * {
	font-size: 9pt;
}


/* override styles when printing */
@media print {
	body {
		background-color: #fff;
		color: #000;
		padding: 0;
		margin: 0;
	}
	#lienzo {
		margin:0;
	}
	.card {
		border:0;
	}
	#invoice {
		position:absolute;
		width:100%;
		top:0;
	}
	.print-table-wrap {
		width:100%;
		table-layout:auto;
	}

	.print-table-wrap td {
		overflow: hidden;
	}
}


/* For darking text in html2pdf when dark theme is enabled. */
@media (prefers-color-scheme: dark) {
	.printable-dark-text, .printable-dark-text .table {
		color:#111;
	}
}
